*.pyc
.project
.pydevproject
.settings
.tox/
*.coverage
*~
build
docs/_build
dist
*egg-info*
htmlcov
bin/
include/
lib/
distribute*
share/
*.sqlite3
database.db
*.swp
*coverage.xml
.idea
.ropeproject
testapp/.e/*
testapp/.dev

drop/node_modules/*
drop/static/drop/.dist/*
