{% load thumbnail %}

<div class="row ProductList">
  {% for object in object_list %}
  <div class="col l3 m4 s12">
    <a href="{{ object.get_absolute_url }}" class="card product-card">
      <div class="card-image">
        {% thumbnail object.first_photo.file "350x440" crop="center" as im %}
        <img src="{{ im.url }}" />
        {% endthumbnail %}
      </div>
      <div class="card-content">
        <div class="title">
          {{ object.get_name }}
        </div>
        <add-to-cart product_id={{ object.id }} btn_class="hidden" root_class="inline">
          ${{ object.unit_price }}</add-to-cart>
        {% comment %}
        <button class="button left btn btn-large btn-floating indigo accent-4">
          <i class="fa fa-shopping-cart"></i></button>
        <a class="button right btn btn-large btn-floating blue-grey darken-2" href="{{ object.get_absolute_url }}">
          <i class="fa fa-eye"></i></a>
        {% endcomment %}
      </div>
    </a>
  </div>
  {% endfor %}
</div>
