{% extends "base.html" %}

{% block content %}
<h1>Product detail:</h1>
{{object.get_name}}<br />
{{object.short_description}}<br />
{{object.long_description}}<br />
{{object.active}}<br />

{{object.date_added}}<br />
{{object.last_modified}}<br />

{{object.unit_price}}<br />

{% if object.category %}
{{object.category.name}}
{% else %}
(Product is at root category)
{% endif %}
<br />

<form method="post" action="{% url 'cart_edit' %}">{% csrf_token %}
  <input type="hidden" name="id" value="{{ object.pk }}" />
  <input type="hidden" name="quantity" value="1" />
  <input type="hidden" name="product_model" value="{{ object.model_slug }}" />
  <input type="submit" value="Add to cart" />
</form>
{% endblock %}

