{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<h1>Product list:</h1>
<hr />
<div class="row">
{% for object in object_list %}
<div class="col l4 m6 s13">
  <div class="card">
    <div class="card-image">
      {% thumbnail object.first_photo.file "300x300" as im %}
      <a href="{{ object.get_absolute_url }}"><img src="{{ im.url }}" /></a>
      {% endthumbnail %}
    </div>
    <div class="card-content">
      <a href="{{ object.get_absolute_url }}">
        {{object.get_name}}<br/>
        <b>{{object.unit_price}}</b>
      </a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
