{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<h1>Product detail:</h1>
{% thumbnail object.first_photo.file "300x300" as im %}
<div><img src="{{ im.url }}" /></div>
{% endthumbnail %}
{{object.get_name}}<br />
{{object.short_description}}<br />
{{object.long_description}}<br />
{{object.active}}<br />

{{object.date_added}}<br />
{{object.last_modified}}<br />

{{object.unit_price}}<br />

{% if object.category %}
{{object.category.name}}
{% else %}
(Product is at root category)
{% endif %}
<br />

<form method="post" action="{% url 'cart_edit' %}" id="a2c">
  <input type="hidden" name="id" value="{{ object.pk }}" />
  <input type="hidden" name="quantity" value="1" />
  <input type="hidden" name="product_model" value="{{ object.model_slug }}" />
  <input type="submit" value="Add to cart" class="btn btn-primary"
         onclick="uR.drop.addToCart(this.parentElement);return false;" />
</form>
{% endblock %}

