{% extends "base.html" %}

{% block content %}
<div id="checkout-thank_you">
  <h1>Thank you for your order!</h1>
  <h2>Summary for Order #{{ order.id }}</h2>
  <table class="stripped responsive-table">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="quantity">Quantity</th>
        <th class="unit_price">Unit Price</th>
        <th class="line_subtotal">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
      <tr>
        <td class="name">{{ item.product }}</td>
        <td class="quantity">{{ item.quantity }}</td>
        <td class="unit_price">${{ item.unit_price }}</td>
        <td class="line_subtotal">${{ item.line_subtotal }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      {% if order.order_total != order.order_subtotal %}
      <tr>
        <th class="tworight">Subtotal:</th>
        <th class="tworight">${{ order.order_subtotal }}</th>
      </tr>
      {% endif %}
      <tr>
        <th></th>
        <th>Total:</th>
        <th></th>
        <th>${{ order.order_total }}</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
