shopping-cart,checkout-modal{
  display: block;
  dialog {
    a { cursor: pointer; }
    .item { position: relative; }
  }
}
ur-form { display: block; }
cart-button { float: right; }
add-to-cart {
  display: block;
  .pre-sale { color: red; text-decoration: line-through; }
  .hidden { display: none; }
}