shopping-cart,checkout-modal{
  display: block;
  .mask {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.1);
    z-index: 1000;
  }
  dialog {
    background: transparent;
    border: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    min-width: 300px;
    max-width: calc(100% - 40px);
    padding: 0;
    z-index: 1001;
    a { cursor: pointer; }
    .close, .remove {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1002;
    }
    .item { position: relative; }
  }
}
cart-button { float: right; }