shopping-cart,checkout-modal{
  display: block;
  background: pink;
  /* some browsers don't support variables yet */
  a { cursor: pointer; color: #049cdb; color: var(--link-color); }
  .item {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
  .valign-wrapper {
    justify-content: space-between;
    /* this class isn't in bootstrap so I need these, they can be removed when TXRX goes materialize */
    display: flex;
    align-items: center;
    a { line-height: 1em; }
  }
  .totals-box { text-align: right; }
  .payment_buttons {
    text-align: center;
    a { margin-right: 0 !important; }
    a,b { display: block; }
    button { margin: 10px; }
    .fa {
      font-size: 2em;
      line-height: 1;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
  .extra_price_field {
    display: flex;
    justify-content: space-between;
  }
}
ur-form { display: block; }
cart-button { float: right; }
add-to-cart {
  display: block;
  .pre-sale { color: red; text-decoration: line-through; }
  .hidden { display: none; }
}

giftcard-checkout .modal-content { max-width: 400px; }