stripe-checkout ur-form {
  background: url(/static/img/powered_by_stripe2x.png) no-repeat bottom left;
  background-size: auto 34px;
  display: block;
  .button_div {
    min-height: 0;
    overflow: hidden;
    .btn { float: right; margin-bottom: 0; }
  }
}