stripe-checkout ur-form {
  display: block;
  .button_div {
    background: url(/static/drop/powered_by_stripe2x.png) no-repeat center left;
    background-size: auto 26px;
    min-height: 0;
    overflow: hidden;
    .btn { float: right; margin-bottom: 0; }
  }
}